# Node.js
node_modules/

# Next.js
.next/

# Env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
dist/
out/

# Others
*.log 